* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.lead{
    text-align: center;
}
article {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
justify-content: center;
}
#footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#newOffers{
    color: rgb(245, 89, 50);
    font-weight: 500;
}


  /* On screens that are 992px wide or less*/
@media screen and (max-width: 992px) {
    article {
        display: grid;
        grid-template-columns: auto auto;
    }
  }
  
  /* On screens that are 600px wide or less*/
  @media screen and (max-width: 600px) {
    article {
        display: grid;
        grid-template-columns: auto;
    }
  }